.book-detail-container{
	margin-top: 15px;
	width: 100%;
	background-color: white;
	height: auto;
	padding-bottom: 40px;
	margin-bottom: 40px;
}

.book-cover{
	width: 100%;
	height: 500px;
	padding-left: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: 1px solid #f6f6f6;
}

.book-cover img{
	object-fit: cover;
}

.book-info-container{
	width: 100%;
	height: 100%;
}


.book-info-container .book-name{
	font-size: 2.5em;
}

.book-info-container .book-author-detail{
	width: 100%;
}

.book-info-container .book-author-detail *{
	font-size: 1.1em;
}

.book-info-container .description-section{
	overflow-x: hidden;
	overflow-y: auto;
	width: 80%;
	text-align: justify;
	max-height: 300px;
}

.get-book-btt{
	width: 150px;
	height: 50px;
	background-color: #e74c3c;
	border-radius: 25px;
	font-size: 1.1em;
	color: white;
}

.breadcrumb {
	border-radius: 0;
	background: #e74c3c;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	height: 50px;
}
.breadcrumb a{
	color: white;
	padding-left: 10px;
	padding-right: 10px;
}

.breadcrumb a:hover{
	font-weight: bold;
}

.star-container{
	width: 600px;
}

.comment-container{
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.user-sending-comment-container .body{
	height: 100px;
	width: 100%;
	border-radius: 10px;
	border: 1px solid darkgray;

	display: flex;
	justify-content: center;
	align-items: center;
}

.user-sending-comment-container .body .user-sending-area{
	width: 98%;
	height: 98%;
	border: 0;
	resize: none;
}

.user-sending-comment-container .add-comment-btn{
	margin-top: 10px;
	margin-bottom: 10px;
	float: right;
	width: 100px;
	height: 40px;
	border-radius: 5px;
	border: 1px solid darkgray;
	background-color: #95a5a6;
	color: #ecf0f1;
	cursor: pointer;
}

.user-sending-comment-container .user-info{
	margin-left: 10px;
	margin-bottom: 10px;
	float: left;
}

.comment-container .comment-content{
	width: 100%;
	resize: none;
	border: 0;
}

.evalate-container{
	width: 100%;
	min-height: 250px;
	background-color: #ecf0f1;
}

.average-evalate{
	height: 250px;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.evalate-on-percent{
	margin-top: 20px;
	font-size: 1.2em;
	width: 100%;
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
}



.percent-outer{
	width: 100%;
	height: 15px;
	background-color: darkgray;
	margin-top: 2px;
	border-radius: 10px;
}

.percent-outer .percent-inner{
	height: 100%;
	background-color: #2ecc71;
	border-radius: 10px;
}

#comment-btn{
	width: 80%;
	height: 40px;
	border-radius: 5px;
	background-color: #f1c40f;
	color: white;
	border: 0;
	font-weight: bold;
}

#comment-section{
	height: 300px;
	width: 100%;
	background-color: #eaeaea;
}

.user-info{
	height: 300px;
	width: 100%;
	border-right: 1px solid gray;

	display: flex;	
	justify-content: center;
	align-items: center;
}

.user-info .user-avatar{
	border-radius: 50%;
	width: 120px;
	height: 120px;
	object-fit: cover;
}

.user-info .user-detail{
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
}

.rating-label{
	cursor: pointer;
}

.rating-label:hover{
	color: #f1c40f;
	opacity: 0.5;
}

.comment-textarea{
	width: 100%;
	height: 120px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.comment-textarea textarea{
	border-radius: 5px;
	border: 1px solid darkgray;
	background-color: #ecf0f1;
	width: 90%;
	height: 100%;
	resize: none;
	font-weight: bold;
}

.other-user-comment{
	width: 100%;
	background-color: #ecf0f1;
}

.other-user-comment .user-info{
	height: 200px;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.other-user-comment .user-info .user-avatar{
	height: 120px;
	width: 120px;

	border-radius: 50%;
	object-fit: cover;
	border: 1px solid gray;
}

input[type="radio"]:checked + label{
	color: #f1c40f;
}

button{
	cursor: pointer;
}

input[type="radio"]{
	display: none;
}


th,td{
	text-align: center;
}