.breadcrumb {
	padding-left: 20px;
	border-radius: 0;
	background: #e74c3c;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	height: 50px;
}

.breadcrumb li,.breadcrumb a{
	color: white;
}

.active{
	color: white !important;
}

.breadcrumb-item a:hover{
	font-size: 110%;
	color: white;
}

button.cart{
	margin-top: 50px;
	margin-bottom: 100px;
	background-color: #e74c3c;
	color: white;
}
.cart{
	margin-top: 50px;
	margin-bottom: 100px;
}
.nomargin{
	color: #e74c3c;
}
.nomargin:hover{
	color: #e74c3c;
	font-weight: bold;
}