.breadcrumb {
	border-radius: 0;
	padding: 10px 15px 10px 15px;
	background: #e74c3c;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	height: 50px;
}
.breadcrumb a{
	color: white;
	padding-left: 10px;
	padding-right: 10px;
}
.breadcrumb a:hover{
	font-weight: bold;
}
button.cart{
	margin-top: 50px;
	margin-bottom: 100px;
	background-color: #e74c3c;
	color: white;
}
.cart{
	margin-top: 50px;
	margin-bottom: 100px;
}