@font-face{
	font-family: Myriad;
	src: url('/fonts/MyriadPro-Regular.otf');
}

body,html{
	border: 0;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Myriad;
}

ul{
	margin: 0;
}

button,input[type='button'],input[type='submit']{
	cursor: pointer;
}

button:focus,input:focus,textarea:focus{
	outline: 0;
}

button{
	background: none;
	border: none;
}

p{
	margin: 0;
}

a:hover,a:focus,a:active{
	text-decoration: none;
	outline: 0;
}

.page-wrapper{
	overflow: hidden;
	background-color: #e74c3c;
}

/*HEADER*/
/*----Mobile----*/
.header-mobile{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.header-mobile .header-mobile__bar{
	padding: 15px 0;
}

.header-mobile .header-mobile-inner{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.header-mobile .navbar-mobile{
	display: none;
	position: absolute;
	width: 100%;
	top: 88px;
	z-index: 10;
}

.header-mobile .navbar-mobile .navbar-mobile__list{
	background-color: #f8f8f8;
}

.header-mobile .navbar-mobile .navbar-mobile__list li a{
	color: #555;
	display: block;
	padding: 10px 15px;
	padding-right: 25px;
	padding-left: 0;
	border-bottom: 1px solid #e6e6e6;
	text-transform: capitalize;
	line-height: inherit;
}

@media (max-width: 991px) {
	.cart-nav-bar {
		position: absolute;
		top: 105px;
		left: 0;
		right: 0;
	}
}

.search-bar-container{
	height: 40px;
	width: 100%;
	border: 2px solid #ecf0f1;
	margin-bottom: 10px;
	border-radius: 20px;
}

#search-field{
	width: 100%;
	height: 35px;
	border: 0;
	background-color: transparent;
	color: white;
}

.page-container{
	position: absolute;
	top: 155px;
	left: 0;
	right: 0;
}

.nav-btt{
	font-size: 1.1em;
	color: white;
}

#cart-btt{
	border: 2px solid #ecf0f1;
	width: 100%;
	height: 40px;
	border-radius: 20px;
	color: #ecf0f1;
	transition: .5s;
}

#cart-btt:hover{
	background-color: #ecf0f1;
	color: black;
}

@media only screen and (max-width: 768px){
	.search-bar-container{
		border: 2px solid #e74c3c;
		color: black;
	}

	#cart-btt{
		color: black;
		border: 2px solid #e74c3c;
	}

	#search-field{
		color: black;
	}
}
.newsletter{
	background:#FA1818;
	padding: 3em;
	width: 100%;
}
