@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);

@font-face{
	font-family: Myriad;
	src: url('../fonts/MyriadPro-Regular.otf');
}
*{
	outline: none;
}

body,html{
	border: 0;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-size: 95%;
	/* background-color: #f6f6f6; */
}

*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Myriad;
}

a:hover, a:visited, a:link, a:active
{
	text-decoration: none;
}
ul{
	margin: 0;
}

p{
	margin: 0;
}

.page-container{
	position: absolute;
	top: 155px;
	left: 0;
	right: 0;
}

.header-top{
	background: #24292e;
	padding: 8px 0;
	color: #fff;
	height: 40px;
	font-size: 90%;
}
.header-top ul li {
	display: inline;
	margin: 10px;
	padding-right:20px;
}
.header-top ul li.info{
	border-right: 1px solid gray;
}
.header-top ul li span{
	margin-right: 10px;
}
.header-top ul li a{
	color: white;
}
.header-top ul li a:hover{
	color: white;
}

@media only screen and (max-width: 768px){
	.header-top{
		display: none;
	}
}

.header-middle{
	padding-bottom: 10px;
}

.search {
	width: 100%;
	position: relative;
}

.searchTerm {
	float: left;
	width: 100% !important;
	border: 3px solid #e74c3c;
	padding: 5px;
	height: 50px;
	border-radius: 5px;
	outline: none;
	color: #9DBFAF;
}

.searchTerm:focus{
	color: black;
}

.twitter-typeahead{
	width: 100% !important;
}

.searchButton {
	position: absolute;  
	right: -50px;
	width: 40px;
	height: 50px;
	border: 1px solid #e74c3c;
	background: #e74c3c;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	font-size: 20px;
}

.wrap{
	width: 90%;
	padding-top: 50px;
}

.slick-prev:before{
	content: '<';
	color: #e74c3c !important; 
}

.slick-next:before{
	content: '>';
	color: #e74c3c !important; 
}

.get-book-btt{
	border: 0;
	cursor: pointer;
}

.newsletter{
	height: 120px;
	background-color: #e74c3c;
	width: 100%;
}
.newsletter input{
	background-color: transparent;
	color: white;
}
.newsletter button{
	position: relative;
	color: #FA1818;
	background-color: white !important;
}
.carticon{
	font-size: 250%;
	color: #e74c3c;
	padding-left: 10px;
}
.carticon:hover{
	color: black;
}
.cartt{
	margin-top: 50px;
}

.cartt a{
	color: #e74c3c;
}
.cartt p{
	font-weight: bold;
	display: inline;
}

footer{
	background-color: #1c2331!important;
	color: white;
	line-height: 2em;
}
footer a{
	color: white;
}

footer a:hover{
	color: white;
	font-weight: bold;
}
footer .title{
	padding-bottom: 20px;
	width: 70%;
	border-bottom: 2px solid #e74c3c;
	margin-bottom: 35px;
}

footer.page-footer .footer-copyright {
	overflow: hidden;
	background-color: rgba(0,0,0,.2);
	color: rgba(255,255,255,.6);
}
footer .mt-3{
	height: 300px;
}

.avatar{
	height: 25px;
	width: 25px;
	margin-right: 10px;
	border-radius: 50%;
}

.breadcrumb {
	background-color: #e74c3c;
	position: relative;
}

.breadcrumb li,.breadcrumb a{
	color: white;
}

.active{
	color: white !important;
}

.breadcrumb-item a:hover{
	font-size: 110%;
	color: white;
}

::-webkit-scrollbar{
	width: 7px;
}

::-webkit-scrollbar-track{
	background-color: #e0e0e0;
}

::-webkit-scrollbar-thumb{
	background-color: darkgray;
	border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover{
	background-color: #545454;
}
.tt-menu{
	width: 100%;
}
.list-group-item{
	padding-bottom: 15px;
}

.list-group-item{
	padding-left: 30px;
	color: black;
}

.list-group-item:hover{
	background-color: #f6f6f6;
	color: #e74c3c;
}
.search-results-dropdown{
	padding: 10px 20px;
	background: #dadada;
	font-weight: bold;
}
.search-results-dropdown a{
	font-size: 120%;
}
