/*EFFECTS*/
.shadow-hover{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.shadow-hover:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.sidebar{
    padding: 20px;
    border-right: 1px solid #f6f6f6;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.product-container{
    margin-bottom: 20px;
    width: 100%;
    background-color: white;
    height: auto;
}

.all-products-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 320px;
}

.product-container{
    width: 100%;
    height: 100%;
}

.product-container .product-image{
    padding-top: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-container .product-image img{
    width: 80%;
    height: 60%;
    object-fit: cover;
}

.product-container .product-info{
    width: 100%;
    height: 320px;
    position: relative;
}

.product-container .product-info *{
    text-align: center;
}

.product-container .product-info .book-name{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.product-container .product-info .book-info-panel{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 50%;
}

.product-container .product-info .book-name a{
    color: black;
    font-size: 1.7em;
}

@media only screen and  (max-width: 768px){
    .all-products-container{
        grid-template-columns: 1fr;
        grid-auto-rows: 640px;
    }

    .product-container .product-info .book-name a{
        font-size: 2em;
    }
}

.get-book-btt{
    width: 98%;
    height: 30px;
    border-radius: 15px;
    border: 2px solid #e74c3c;
    background-color: #fff;
    transition: .5s;
}

.get-book-btt:hover{
    background-color: #e74c3c;
    color: white;
}

.book-describes{
    height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rate{
    padding-top: 15px;
    text-align: center;
}
.rate p{
    color: darkgray;
    font-size: 80%;
}
