.profile-sidebar{
	padding: 10px 0;
	border-bottom: 1px solid #e9ecf2; 
}
.profile-userpic img {
	float: left;
	margin: 10px 0px 0px 15px;
	width: 100px;
	height: 100px;
	border-radius: 9999px !important; 
}

.profile-usertitle {
	float: left;
	text-align: left;
	margin: 10px 0 0 12px; 
}

.profile-usertitle-name {
	font-size: 20px;
	margin-bottom: 0px; 
}

.profile-usertitle-status {
	text-transform: uppercase;
	color: #AAA;
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 15px; 
}
.clear {
	clear: both; 
}
.profile-usertitle-status i{
	color: green;
	padding-right: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a{
	color: black;
}

li a:hover{
	color: #e74c3c;
	font-weight: bold;
}

.block-content{
	padding-top: 15px;
}

.block-content li{
    padding: 7px 20px 7px 30px;
}

.block-title {
    color: #6a6a6a;
    position: relative;
    font-family: "Poppins", sans-serif;
    padding: 18px 20px;
    padding-bottom: 0px;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 2px solid #f6f6f6;
}

.accountcontainer{
	margin-top: 20px;
	margin-bottom: 50px;
}

.infocontainer{
	border-left: 2px solid #f6f6f6;
	margin-top: 35px;
	padding-left: 50px;
}

input[type='radio']{
	margin-left: 50px;
}

.page-header{
	padding-bottom: 20px;
}

.current a{
	font-weight: bold;
	color: #e74c3c !important;
}