body{
	background-color: #ecf0f1;
	font-size: 85%;
}

.category-container{
	min-height: 500px;
	height: auto;
	justify-content: center;
}

@media only screen and (max-width: 768px){
	.category-container{
		min-height: initial;
	}
}
.category-list{
	width: 100%;
	min-height: 500px;
	overflow-y: auto;
}

.category-list li{
	transition: 1s;
}

.category-list li a{
	color: black;
}

.category-list li:hover{
	background-color: #34495e;
}

.category-list li:hover a{
	color: white;
}

.cat-item{
	padding-left: 20px;
}

.picture-slider-container{

}

.slide-item{
	width: 100%;
	height: 500px;
	object-fit: cover;
}

.product-container{
	margin-top: 20px;
}

.product-by-category-container{
	height: 400px;
}

.product-by-category-container .category-name{
	height: 50px;
	width: 100%;
	background-color: white;
	position: relative;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.product-by-category-container .category-name a{
	position: absolute;
	top: 12px;
	left: 20px;
}

.product-by-category-container .book-container{
	height: 350px;
	background-color: #34495e;
}

.product-by-category-container .book-container .book-list{
	height: 100%;
	width: 80%;
}

.product-by-category-container .book-container .book-list .book-item{
	width: 250px;
	height: 350px;
	position: relative;
	border-left: 1px solid #ecf0f1;
}

.book-list .book-item .book-cover{
	width: 100%;
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.book-list .book-item .book-cover img{
	width: 60%;
	height: 200px;
	object-fit: cover;
}

.book-list .book-item .book-info{
	position: absolute;
	bottom: 0;
	left: 10%;
	right: 10%;
	top: 50%;
	color: while;
	/* background-color: #3498db; */
	opacity: 0.7;
}

.book-info *{
	width: 100%;
	text-align: center;
	color: white;
}

.book-info .book-name{
	font-size: 1.4em;
	height: 80px;
}

.book-info .book-quantity{
	font-size: 1.2em;
}

.book-info .book-price{
	font-size: 1.3em;
}

.book-info .book-buy{
	display: flex;
	justify-content: center;
	align-items: center;
}

.book-info .book-buy .get-book-btt{
	border: 2px solid white;
	width: 100px;
	height: 30px;
	border-radius: 15px;
	transition: .5s;
}

.book-info .book-buy .get-book-btt:hover{
	color: black;
	background-color: white;
}